
@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h2>Login</h2>
    <form method="post">
        <h5>Username</h5>
        <input type="text" name="username" required /><br />
        <h5>Password</h5>
        <input type="password" name="password" /><br /><br />
        <input style="background-color: #008CBA;border-radius: 4px;" type="submit" value="login" />
    </form>
</center> 
