<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>deiform - Free CSS Template by ZyPOP</title>


<link rel="stylesheet" href="~/Scontent/reset.css" type="text/css" />
<link rel="stylesheet" href="~/Scontent/styles.css" type="text/css" />
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script type="text/javascript" src="~/Scontent/jquery.js"></script>
<script type="text/javascript" src="~/Scontent/slider.js"></script>
<script type="text/javascript" src="~/Scontent/superfish.js"></script>

<script type="text/javascript" src="~/Scontent/custom.js"></script>

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

<!--
deiform, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

Download: http://zypopwebtemplates.com/

License: Creative Commons Attribution
//-->
</head>
<body>
<div id="container" class="width">

    <header> 
	<div class="width">

    		<h1><a href="~/Cashier/Home">Online RAM Banking</a></h1>
        
		<nav>
	
    			<ul class="sf-menu dropdown">
        			<li class="selected"><a href="~/Cashier/HomePage">Home</a></li>
                    <li><a href="~/Cashier/MyProfile">My Account</a></li>
                    <li><a href="#">Banking Site</a>
                        <ul>
                            <li><a href="~/Cashier/CashWithdraw">Cash Withdraw</a></li>
                            <li><a href="~/Cashier/CashDeposit">Cash Deposit</a></li>
                            <li><a href="~/Cashier/FDAWithdraw">FDA account</a></li>
                        </ul>
                    </li>
	                <li><a href="#">Settings</a>		
                        <ul>
                            <li><a href="~/Cashier/ChangePassword">Change Password</a></li>
                            <li><a href="~/Cashier/EditProfile">Edit Profile</a></li>
                            <li><a href="~/Login/Login">Logout</a></li>
                        </ul>
            		</li>
                    
       			</ul>

			<div class="clear"></div>
    		</nav>
       	</div>

	<div class="clear"></div>

       
    </header>


  

    <div id="body" class="width">



		<section id="content" class="two-column with-right-sidebar">

	   @RenderBody()
	
        </section>
        
        
    	<div class="clear"></div>
    </div>
</div>

    <footer id="fullfooter">
        <div class="footer-content width">
            <ul>
            	<li><h4>Services</h4></li>
                <li><a href="#">Online Banking</a></li>
                <li><a href="#">Home loan</a></li>
                <li><a href="#">Industrial Loan</a></li>
                <li><a href="#">Islamic Banking </a></li>
                
            </ul>
            
            <ul>
            	<li><h4>Branches</h4></li>
                <li><a href="#">Head Office</a></li>
                <li><a href="#">Dhaka Branch</a></li>
                <li><a href="#">Rajshahi Branch</a></li>
                <li><a href="#">Khulna Branch</a></li>
                <li><a href="#">Sylhet Branch</a></li>
            </ul>

 	    <ul>
                <li><h4>Help</h4></li>
                <li><a href="#">How to open account? </a></li>
                <li><a href="#">Contracts </a></li>
                
            </ul>
            
            <ul class="endfooter">
            	<li><h4>RAM Bank LTD.</h4></li>
                <li>We serve our customers<br /><br />

<div class="social-icons">

<a href="#"><i class="fa fa-facebook fa-2x"></i></a>

<a href="#"><i class="fa fa-twitter fa-2x"></i></a>

<a href="#"><i class="fa fa-youtube fa-2x"></i></a>

<a href="#"><i class="fa fa-instagram fa-2x"></i></a>

</div>

</li>
            </ul>
            
            <div class="clear"></div>
        </div>
        <div class="footer-bottom">
            <p>&copy; RAM Bank LTD. 2014</p>
         </div>
    </footer>
</body>
</html>