@model MVCRepository.BranchManager

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Managerlayout.cshtml";
}
<h2>Change Password</h2>

<form method="post">

    <table>
        <tbody>
            <tr>
                <td><h5>Password</h5></td>
                <td><input type="password" name="Oldpass" required /></td>
            </tr>
            <tr>
                <td><h5>New Password</h5></td>
                <td><input type="password" name="Pass" required /></td>
            </tr>
            <tr>
                <td><h5>Confirm Password</h5></td>
                <td><input type="password" name="cpass" required /></td>
            </tr>
            <tr>
                <td colspan="2"><input style="background-color: #3ac4ee;border-radius: 2px;" type="submit" name="Save" value="Save" /></td>
            </tr>
        </tbody>
    </table>
</form>


