@model MVCRepository.Officer

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Officer.cshtml";
}
<h2>Create Customer</h2>
<form method="post">
               
    <table>
        <tbody>
            <tr>
                <td><h5>Name</h5></td>
                <td><input type="text" name="User_Name"  required/></td>
            </tr>
            <tr>
                <td><h5>Password</h5></td>
                <td><input type="password" name="User_password"   required/></td>
            </tr>
            <tr>
                <td><h5>Address</h5></td>
                <td><input type="text" name="User_address"   required/></td>
            </tr>
            <tr>
                <td><h5>Mobile(BD Formate, Ex=019xxxxxxxx)</h5></td>
                <td><input type="text" name="User_mobile" maxlength="11"  required/></td>
            </tr>
            <tr>
                <td><h5>Balance</h5></td>
                <td><input type="number" name="User_balance"  required/></td>
            </tr>
          
            <tr>
                <td><h5>AccountType</h5></td>
                <td>
                <select name="User_acc_type">
                     <option value="Savings">
                       Savings Account
                    </option>
                       <option  value="FDA">
                       Fixed Diposite account
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input style="background-color: #3ac4ee;border-radius: 2px;" type="submit" name="Save" /></td>
            </tr>
        </tbody>
    </table>
</form>

